[submodule "05_manifest_features/cgal"]
	path = 05_manifest_features/cgal
	url = git@github.com:CGAL/cgal.git
	shallow = true
[submodule "12_unity_tests/Unity"]
	path = 12_unity_tests/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
